body {
    background-color: #b7b7b7;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: #9700b5;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    color: #fff;
    font-size: 24px;
    margin-top: 5px;
}

.user-info {
    display: flex;
    align-items: center;
}

.perfil-btn {
    background-color: #6c6f0b;
    color: #fff;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -20px;
    margin-right: 10px;
}

.perfil-btn:hover {
    background-color: #4b0862;
}

.conteudo {
    margin: 2%;
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5%;
    margin-top: 2%;
    width: 50%;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

form input[type="submit"] {
    background-color: #6a0dad;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #4b0862;
}

a {
    text-decoration: none;
    color: #6a0dad;
    margin-top: 20px;
    display: block;
}

a:hover {
    color: #4b0862;
}

p{
    font-size: 20px;
}